@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0; 
}
/* banner style */
#banner{
    background-image:url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 652px;
    margin: 25px auto; 
    position: relative;
    margin-bottom: 50px;
}
.banner-content{
    position: absolute;
    left: 221px;
    right: 221px;
    top: 157px;
    bottom: 4507px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 auto;

}
.banner-content .banner-group-image{
    width: 240.28px;
    height: 240px;
    margin-top: -115px;
    padding-bottom: 20px;
}
.banner-content .title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 40px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    padding-bottom: 15px;
}
.banner-content .description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left; 
    padding-bottom: 20px;
}
.btn{
    padding: 21px 32px 21px 32px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border: none;
}
/* development style  */
#development{
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 990px;
    margin: 25px auto; 
    border-radius: 16px;
    margin-bottom:50px;
}
.development-content .title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}
.development-content .description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
/* fream8 style */
#fream8{
    background: white;
    width: 946px;
    height: 245px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2px;
    margin-bottom: 40px;
    
}
.fream8-content{
    position: static;
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 48px;
}
.fream8-content .fream8-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.fream8-content .fream8-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.fream8-content .fream8-btn{
    padding: 10px 15px 10px 7px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}
.fream8-content .group3{
    width: 240px;
    height: 240px;
}
.fream8-content .group4{
    width: 240px;
    height: 240px;
}
/* inspiration style */
#inspiration{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 700px;
    margin: 25px auto; 
    border-radius: 16px;
    margin-bottom: 10px;
}
.inspiration-content .title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;

}
.inspiration-content .description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;
}
.youtube-video{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width: 1140px;
    height: 550px;
}
/* target style */
#target{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 580px;
    margin: 25px auto; 
    border-radius: 16px;
    margin-bottom: 10px;  
}
.target-content .title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 20px;
}
.target-content .description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;
}
#html{
    width: 1140px;
    height: 299px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 48px 0px;

}
.html-content{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    width: 364px;
    height: 299px;
    margin-right: 25px;
}
.html-img{
    margin-bottom: 15px;
}
.html-content .title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}
.html-content .description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 25px;
}
.html-title4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
.css-content{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    width: 364px;
    height: 299px;
    margin-right: 25px;

}
.css-content .title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}
.css-content .description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 25px;
}
.js-content{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    width: 364px;
    height: 299px;
    
}
.js-content .title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}
.js-content .description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 25px;
}
/* support style */
#support{
    border-radius: 16px;
    background-image:linear-gradient(180.00deg, rgb(37, 37, 37) -19.5%,rgba(16, 16, 16, 0) 100%),url("../assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 455px;
    margin: 25px auto; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.support-content .title{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;  
    margin-bottom: 30px;
}
.support-content .description{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 50px;
}
.form-container{
    position: static;
    width: 730px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-container .input-form{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);  
    width: 548px;
    height: 57px;
    padding: 19px 20px 19px 20px;
    margin-right: 20px;
}

.input-submit-button{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);  
    align-items: center;
    padding: 19px 20px 19px 20px;
    width: 120px;
    height: 57px;
}
.input-submit-button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
/* website-footer style */
#website-footer{
    position: absolute;
    width: 100%;
  
    background: rgba(13, 19, 33, 0.03);

}
.footer-container{
    width: 89%;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    text-align: center;
}
.footer-container .footer-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 150px;
}
.footer-img{
    width: 157.01px;
    height: 36px;
}
.footer-img .img{
    padding-right: 10px;
}




